passwd
node_modules/
.npm/
package-lock.json
test/tmp/
.sonar/
.scannerwork/
.config/
.terraform.d/
.terraform.lock.hcl
.terraform/
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
.aws/
